.outer-section{
    display: flex;
    justify-content: center;
}

.upload-form{
    padding: 3%;
    background-color: #eee;
    border-radius: 10px;
    margin: 5% 0 0;
}

.upload-form-input{
    margin: 5% 0;
    padding: 1% 3%;
}

.upload-form-label, .upload-form-input{
    display: block;
}

.submit-button{
    background-color: #ABC9FF;
    padding: 3% 5%;
    margin: 4% 0 0;
    border: 1px solid #ABC9FF;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}